<a href="https://colab.research.google.com/github/ccom33/BigD_Colab/blob/master/%EA%B5%AC%EA%B8%80%EB%93%9C%EB%9D%BC%EC%9D%B4%EB%B8%8C%EC%97%90%EC%84%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

구글 드라이브에서 가져온 데이터를 편집하는 과정.
참고: http://studycolab.blogspot.com/2018/05/colaboratory-load-file-from-google-drive.html

In [0]:
import pandas as pd

In [0]:
#PyDrive 인증과정.

!pip install -U -q PyDrive


from pydrive.auth import GoogleAuth

from pydrive.drive import GoogleDrive

from google.colab import auth

from oauth2client.client import GoogleCredentials 


# 1. Authenticate and create the PyDrive client.

auth.authenticate_user()

gauth = GoogleAuth()

gauth.credentials = GoogleCredentials.get_application_default()

drive = GoogleDrive(gauth)

#처음 쓸때는 SDK클라우드 인증을 따오는거 같아욘

In [0]:
#file_id 는 구글 드라이브 에서 공유 가능한링크 가져오기 로 확인가능. ** 링크가져오기를 할경우 다른사용자와 공유가 설정되기 때문에 미리 설정해둬야함. **

file_id = '1-f5sdepBhTwT4ZWyGIzE39CnRWASwiyn'

downloaded = drive.CreateFile({'id': file_id})

downloaded.GetContentFile('01.CCTV_in_seoul')

In [6]:
!ls -al

total 32
drwxr-xr-x 1 root root 4096 Dec 17 00:54 .
drwxr-xr-x 1 root root 4096 Dec 17 00:47 ..
-rw-r--r-- 1 root root 1135 Dec 17 00:54 01.CCTV_in_seoul
-rw-r--r-- 1 root root 2511 Dec 17 00:52 adc.json
drwxr-xr-x 1 root root 4096 Dec 17 00:52 .config
drwxr-xr-x 1 root root 4096 Dec 10 17:34 sample_data

In [7]:
CCTV_Seoul = pd.read_csv('01.CCTV_in_seoul', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [8]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [10]:
CCTV_Seoul.columns[2]

'2013년도 이전'

In [11]:
!ls -al

total 32
drwxr-xr-x 1 root root 4096 Dec 17 00:54 .
drwxr-xr-x 1 root root 4096 Dec 17 00:47 ..
-rw-r--r-- 1 root root 1135 Dec 17 00:54 01.CCTV_in_seoul
-rw-r--r-- 1 root root 2511 Dec 17 00:52 adc.json
drwxr-xr-x 1 root root 4096 Dec 17 00:52 .config
drwxr-xr-x 1 root root 4096 Dec 10 17:34 sample_data

In [12]:
# 구글드라이브 자체를 가져와서 root로 쓰는 방법.
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [19]:
#구글 드라이브 root폴더 위치는 '/content/gdrive/My Drive' 
with open('/content/gdrive/My Drive/Colab_Data/Doc/t.txt', 'w') as f:
  f.write('Hello Google Drive! mount Test')
!cat /content/gdrive/My\ Drive/Colab_Data/Doc/t.txt

Hello Google Drive! mount Test

In [20]:
!ls -ltr

total 16
drwxr-xr-x 1 root root 4096 Dec 10 17:34 sample_data
-rw-r--r-- 1 root root 2511 Dec 17 00:52 adc.json
-rw-r--r-- 1 root root 1135 Dec 17 00:54 01.CCTV_in_seoul
drwx------ 3 root root 4096 Dec 17 01:40 gdrive

In [21]:
cd gdrive

/content/gdrive

In [22]:
ls -ltr

total 4
drwx------ 5 root root 4096 Dec 17 01:40 'My Drive'/

In [23]:
cd My_Drive

[Errno 2] No such file or directory: 'My_Drive'
/content/gdrive

In [24]:
cd My Drive

/content/gdrive/My Drive

In [25]:
ls -ltr

total 25
-rw------- 1 root root    1 Nov  7 02:09 '대구 주유소.gsheet'
-rw------- 1 root root    1 Nov  7 03:15 '연간 가계부.gsheet'
-rw------- 1 root root    1 Nov  8 06:02 'docker 공부.gdoc'
-rw------- 1 root root    1 Nov  9 03:19 'sql 응용.gdoc'
-rw------- 1 root root    1 Nov 12 04:58 '1.2 sql 데이터 모델과 성능.gdoc'
-rw------- 1 root root    1 Nov 12 05:00 '2.1 sql 기본.gdoc'
-rw------- 1 root root    1 Nov 12 08:26 '1.1 sql 데이터 모델링의 이해.gdoc'
-rw------- 1 root root    1 Nov 23 00:05 '11월 할 일 목록.gsheet'
-rw------- 1 root root    1 Nov 23 00:05 '할 일 목록.gsheet'
-rw------- 1 root root    1 Nov 23 00:10 '제목 없는 스프레드시트 (1).gsheet'
-rw------- 1 root root    1 Nov 23 00:36  포트폴리오.gslides
-rw------- 1 root root    1 Nov 23 07:25 '프로젝트 제안서.gdoc'
-rw------- 1 root root    1 Nov 23 11:45 '제목없는 문서.gdoc'
-rw------- 1 root root    1 Nov 26 01:49 '주피터 외부에서 접속하기.gdoc'
-rw------- 1 root root    1 Nov 27 07:44 'GitHub와 jekyll.gdoc'
-rw------- 1 root root    1 Nov 28 00:57 '3번 포트폴리오 (지금까지 배운것).gdoc'
-rw------- 1 root root    1 Nov 29 05:26 '윈도우 터미널 오류 수정법.gdoc'
-rw------- 1 root root    1 Dec  3 01:58  이력서.gdoc
-rw------- 1 root root    1 Dec  3 03:15 '제목 없는 문서.gdoc'
-rw------- 1 root root    1 Dec 12 12:18 'html 수업.gdoc'
-rw------- 1 root root    1 Dec 13 12:22 '노트북 환경 구축 목록.gdoc'
-rw------- 1 root root    1 Dec 13 23:58 'Destiny Guardians 쿠키굽기 이벤트.gdoc'
-rw------- 1 root root    1 Dec 14 02:31 '제목 없는 스프레드시트.gsheet'
-rw------- 1 root root    1 Dec 14 07:03 '프로젝트 링크.gdoc'
-rw------- 1 root root    1 Dec 14 07:12 '포트폴리오및 전체 계획안..gdoc'
drwx------ 2 root root 4096 Dec 14 07:37 'Colab Notebooks'/
drwx------ 2 root root 4096 Dec 17 00:33 'Google 포토'/
drwx------ 3 root root 4096 Dec 17 00:44  Colab_Data/

In [26]:
# 잘됨 ^ㅅ^ 
pop_Seoul = pd.read_excel('/content/gdrive/My Drive/Colab_Data/Doc/01. population_in_Seoul.xls', encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764